:root {
    --titleColor: black;
    --titleFontSize: 32px;

    --inputColor: black;
    --inputFontSize: large;
    
    --tableFontFamily: arial, sans-serif;
    /* --tableFontFamily: cursive; */
    --cellWidth: 50px;
    --cellHeight: 50px;

    --headerBGColor: lightblue;
    --headerColor: blue;
    --headerFontSize: xx-large;

    --hoverBGColor: yellow;
    --hoverColor: blue;
    --hoverFontSize: x-large;

    --errorBGColor: red;
    --errorColor: black;
}

h1 {
    color: var(--titleColor);
    font-size: var(--titleFontSize);
}

.errorMessage { 
    color: var(--errorColor);
    background-color: var(--errorBGColor);
}

.mult_table_label {
    color: var(--inputColor);
    font-size: var(--inputFontSize);

    display: flex;
    flex-direction: row;
    
    justify-content: start;
    align-items: center;
}

.mult_table_input::-webkit-inner-spin-button {
    opacity: 1
}

.mult_table_input {
    color: var(--inputColor);
    font-size: var(--inputFontSize);
}


.mult_table {
    table-layout: fixed;
    font-family: var(--tableFontFamily);
    border-collapse: collapse;
    border: 3px solid black;
}

th {
    border: 2px solid black;
    width: var(--cellWidth);
    height: var(--cellWidth);
}

.mult_table_header_cell {
    font-size: var(--headerFontSize);
    color: var(--headerColor);
    background-color: var(--headerBGColor);
}

.hover {
    background-color: var(--hoverBGColor);
}

th.hoverCell {
    font-size: var(--hoverFontSize);
    color: var(--hoverColor);
    position: relative;
}

span {
    display: flex;
    flex-direction: column;
    visibility: visible;

    width: max-content;
    
    background-color: var(--hoverBGColor);
    color: var(--hoverColor);

    border: 2px solid black;
    border-radius: 2px 16px 16px 16px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    
    padding: 5px 10px 5px 10px;
    
    text-align: center; 
    word-wrap: normal;
    pointer-events: none;

    position: absolute;
    top:40px;
    left:40px;
    z-index: 1;
}

span hr {
    min-width: 100px;
    width: 100%;
}

span.tooltip_topright {
    border-radius: 16px 16px 16px 2px;
    z-index: 1;
}