table {
    border: 2px solid black;

    --cellWidth: 50px;
}
table * {
    vertical-align: middle;
    /* border: 1px dashed purple; */
}

td.tableCell,
th.tableCell {
    width: var(--cellWidth);
    border: 1px solid black;

}

td.tabelCell {
    height: var(--cellWidth);
}

th.tableCell {
    vertical-align: text-bottom ;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

input.cellInput {
    width: var(--cellWidth);
    border: 0;
}

input.cellInput::-webkit-inner-spin-button {
    /* opacity: 0 */
    -webkit-appearance: none;
    /* -moz-appearance: textfield; */
}