.counting_display_flex {
    display: flex;
}

div.counting_div {
    padding: 10px; 
      
    --titleFontColor: rgb(255, 255, 255);
    --titleFontSize: 32px;
    --titleFontBGColor:rgba(0, 0, 0, .2);

    --tableFontFamily: arial, sans-serif;
    --tableFontSize: 20px;
    --cellWidth: 50px;

    --headerCellBGColor: lightblue;
    --headerCellColor: blue;
    --headerFontSize: xx-large;

    --hoverBGColor: yellow;
    --hoverColor: blue;
    --hoverFontSize: 23px;
   }

div.counting_div * {
    align-items: center;
}

h1.counting_h1 {
    color: var(--titleFontColor);
    font-size: var(--titleFontSize);
    background-color: var(--titleFontBGColor);
}

div.counting_options_div {
    border: 2px solid black;
    border-bottom: 0;
    width: fit-content;
    padding: 5px;
}

ul.counting_ul {
    display: flex;
    padding-left: 0px;
    margin: 0;
    width: fit-content;
}

li.counting_li {
    display: flex;
}

b.counting_options_b {
    width: 210px;
}

input.counting_input {
    overflow-y:scroll;
}

input.counting_input::-webkit-inner-spin-button {
    opacity: 1
}

.padding-right {
    padding-right: 10px;
}

table.counting_table {
    font-family: var(--tableFontFamily);
    font-size: var(--tableFontSize);
    text-align: center;    
}


tr.counting_tr {
    border: 2px solid black;
}

td.counting_td {
    border: 2px solid black;
    width: var(--cellWidth);
    height: var(--cellWidth);
}


td.counting_td.ten {   
    /* border: 1px dotted rgba(0,0,0,.1); */
    border: 0;
    
    color: var(--hoverColor);
    background-color: var(--hoverBGColor);
}

td.counting_td.hidefont {
    font-size: 0;
}

td.counting_td.one {
    font-size: var(--hoverFontSize);
    color: var(--hoverBGColor);
    background-color: var(--hoverColor);
}   


div.counting_tooltip {
    /* display: flex; */
    flex-direction: row;
    justify-content:space-around;

    width: max-content;
    
    background-color: var(--hoverBGColor);
    color: var(--hoverColor);

    border: 2px solid black;
    border-radius: 2px 16px 16px 16px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    
    padding: 5px 10px 5px 10px;
    
    text-align: center; 
    word-wrap: normal;
    pointer-events: none;

    position: absolute;
    top:40px;
    left:40px;
    z-index: 1;
}

b.counting_tooltip_text {
    height: max-content;
    width: max-content;
    border: 0;
    padding: 0;
    margin: 0;
}

div.counting_tooltip_text_group {
    display: flex;
    flex-direction: column;
    align-items: center;
}



hr.counting_tooltip_line {
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
    
}

hr.counting_tooltip_line_bold {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-top: 3px solid black;
}

div.counting_bottom_padding {
    height: 125px;
    visibility: hidden;
}