:root {
    --navbarBGImage: url('../../public/navbarImage.jpg');
    
    --titleFontColor: rgb(255, 255, 255);
    --titleFontSize: 32px;
    --titleFontBGColor:rgba(0, 0, 0, .2);

    --inputColor: black;
    --inputFontSize: large;
    
    --tableFontFamily: arial, sans-serif;
    --tableFontSize: 20px;
    --cellWidth: 50px;
    --cellHeight: 50px;

    --headerCellBGColor: lightblue;
    --headerCellColor: blue;
    --headerFontSize: xx-large;

    --hoverBGColor: yellow;
    --hoverColor: blue;
    --hoverFontSize: 23px;

    --errZorBGColor: red;
    --errorColor: black;
}

.multdiv_display_flex {
    display: flex;
}

.multdiv_display_none {
    display: none;
}

div.multdiv_div {
 padding: 10px;   
}

div.multdiv_div * {
    align-items: center;
}

nav.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-image: var(--navbarBGImage);
    padding-bottom: 0;
    padding-left: 8px;
}

h1.multdiv_h1 {
    color: var(--titleFontColor);
    font-size: var(--titleFontSize);
    background-color: var(--titleFontBGColor);
}

ul.multdiv_ul {
    display: flex;
    padding-left: 0px;
    margin: 0;
}

li.multdiv_li {
    display: flex;
}

input.multdiv_input {
    overflow-y:scroll;
}

input.multdiv_input::-webkit-inner-spin-button {
    opacity: 1
}

.padding-right {
    padding-right: 10px;
}

table.multdiv_table {
    font-family: var(--tableFontFamily);
    font-size: var(--tableFontSize);
    text-align: center;
}


th.multdiv_th {
    border: 2px solid black;
    width: var(--cellWidth);
    height: var(--cellWidth);
    background-color: var(--headerCellBGColor);
    color: var(--headerCellColor);
}

td.multdiv_td {
    border: 2px solid black;
    width: var(--cellWidth);
    height: var(--cellWidth);
}

th.multdiv_highlighted,
td.multdiv_highlighted {
    background-color: var(--hoverBGColor);
    color: var(--hoverColor);
}

td.multdiv_highlighted_target {
    font-size: var(--hoverFontSize);
    font-weight: bold;
}

div.multdiv_tooltip {
    /* display: flex; */
    flex-direction: row;
    justify-content:space-around;

    width: max-content;
    
    background-color: var(--hoverBGColor);
    color: var(--hoverColor);

    border: 2px solid black;
    border-radius: 2px 16px 16px 16px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    
    padding: 5px 10px 5px 10px;
    
    text-align: center; 
    word-wrap: normal;
    pointer-events: none;

    position: absolute;
    top:40px;
    left:40px;
    z-index: 1;
}

b.multdiv_tooltip_text {
    height: max-content;
    width: max-content;
    border: 0;
    padding: 0;
    margin: 0;
}

hr.multdiv_tooltip_line {
    margin-top: 2px;
    margin-bottom: 2px;
}

hr.multdiv_tooltip_line_bold {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 3px solid black;
}
